.customNameStyle {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  justify-self: flex-start;
  margin-left: 15px !important;
  color: #fff;
}
.settingsButton {
  background-color: var(--primary-color) !important;
  padding-left: 2px !important;
  margin-left: 2px;
}
.customNameStyle > p:hover {
  color: #fff !important;
}
.customNameStyle > p {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-bottom: 0rem !important;
}

.settingsButton:hover {
  background-color: var(--primary-color-10-lighter) !important;
  color: #ededed !important;
  cursor: pointer;
  border-radius: 5px;
}
.customNameStyle:hover {
  background-color: var(--primary-color-10-lighter);
  color: #ededed;
  cursor: pointer;
  border-radius: 5px;
}
.customNameStyle > .NavLinkTitleDark {
  color: #fff !important;
}
.Darkmode {
  background-color: var(--dark-theme-app-bar) !important;
  color: #fff !important;
}
.NavLinkTitleDark {
  color: #fff !important;
}
.settingsBox {
  padding: 0;
  width: 500px !important;
  gap: 0px;
  border-radius: 8px;
  margin-right: 20px;
}

.SettingsHeader {
  border: solid 1px #d6d6d6;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 0px;
}
.settingsTitle {
  font-size: 20px;
  font-weight: 600;
  color: #1c1c1d;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px;
}

.settingsTitle > h3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  justify-content: center;
  margin-top: 2px;
}

.settingsBody {
  padding: 0 !important;
}

.textDarkMode {
  color: #fff;
}

.textDarkMode > h3 {
  color: #fff;
}
