.listBox{
  width: 20rem;
  border: solid 1px #ccc;
}

.listItem {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    
  }
  
  .listHeader {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  
  .progressBar {
    height: 10px;
    background-color: #eee;
    margin-top: 5px;
  }
  
  .progress {
    height: 100%;
    background-color: #4caf50; /* green color */
  }
  