.sideBar {
  height: 100vh;
  display: flex;
  gap: 10px;
}

.sideBarContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.8s;
  overflow-x: hidden;
}

.custom-row {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.appInfo {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.loginBtn {
  width: 95%;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  margin-top: 10px;
}
.login {
  min-height: 70px;
  margin-bottom: 10px;
}

.sideBarBtn {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: var(--primary-color-10-lighter);
  border-radius: 5px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  transition: all 0.5s;
}

.horizontal-Line {
  width: 90%;
  border: 3px solid #000;
  background-color: #f1f1f1;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.sectionSeparator {
  border: 1x solid red;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Right part of SideBar*/
.sideBarChevron {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
}

.sideBarChevronIcon {
  width: 40px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.8s;
}

.sideBarVerticaleLine {
  height: 40px;
  width: 2px;
  border: 2px solid #000;
  background-color: #000;
  border-radius: 10px;
}
